<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Default Package Sources -->
  <!-- They cannot be deleted or modified but can be disabled/enabled by user -->
  <!-- The following section is similar to 'packageSources' section of NuGet.Config schema -->
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <!-- Default Package Sources that are disabled by default -->
  <!-- They cannot be modified or deleted either but can be enabled/disabled by user -->
  <!-- The following section is similar to 'disabledPackageSources' section of NuGet.Config schema -->
  <!-- The value part of the entry in 'disabledPackageSources' section has no effect -->
  <disabledPackageSources>
  </disabledPackageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
